<a href="https://colab.research.google.com/github/rukeshpaudel/python-for-research/blob/main/Python_for_research_Day_1_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to swap the values in two variables
   
    num1 = 0.7
    num2 =  -3

    Expected Output:
    num1 = -3
    num2 =  0.7

In [ ]:
num1 = 0.7
num2 = 3
print("Before swapping, num1 = {} num2 = {}".format(num1,num2))
temp = num1
num1 = num2
num2 = temp
print("After swapping, num1 = {} num2 = {}".format(num1,num2))

Before swapping, num1 = 0.7 num2 = 3
After swapping, num1 = 3 num2 = 0.7

2. Start the Python interpreter and use it as a calculator.

    1️⃣ How many seconds are there in 42 minutes 42 seconds?

In [ ]:
hour = 0
minute = 42
seconds = 42

total_seconds =hour * 60 *60 + minute * 60 + seconds
print("Total seconds : {}".format(total_seconds))

Total seconds : 2562

  2️⃣ How many miles are there in 10 kilometers? Hint: there are 1.609 kilometers in a mile.

In [ ]:
km= 10
m = km*1.609
print("In 10 kilometers, there are {} miles".format(m))

In 10 kilometers, there are 16.09 miles

  3️⃣ If you run a 10-kilometer race in 42 minutes and 42 seconds, what is your average pace (speed: mile per minutes and miles per seconds)?

In [ ]:
avg = m/total_seconds
print("Total pace = {} miles/seconds".format(avg))

Total pace = 0.006280249804839969 miles/seconds

3. Suppose the cover price of a book is 24.95 dollars but the bookstore gets a 40% discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

In [ ]:
cover_price= 24.95
discount_percentage = 40
shipping_cost_first_copy = 3
shipping_cost_add_copy = 0.75
no_of_copies = 60
total_price = (cover_price - cover_price*discount_percentage/100)*60 + shipping_cost_first_copy + 59* shipping_cost_add_copy
print(total_price)

945.4499999999999