<a href="https://colab.research.google.com/github/rukeshpaudel/python-for-research/blob/main/Python_for_research_Day_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Pandas Data Structure
* series
* dataframe

## Create an empty series in pandas and check data type

In [2]:
s= pd.Series(dtype= float)

In [3]:
s

Series([], dtype: float64)

In [4]:
type(s)

pandas.core.series.Series

##Create series from numpy array

In [5]:
import numpy as np

x= np.array(['a','e','i','o','u'])

In [6]:
s= pd.Series(x)

In [7]:
s

0    a
1    e
2    i
3    o
4    u
dtype: object

In [9]:
type(s)

pandas.core.series.Series

In [10]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
list(s.index)

[0, 1, 2, 3, 4]

In [12]:
s.values

array(['a', 'e', 'i', 'o', 'u'], dtype=object)

##Create pandas series with specified index

In [14]:
pd.Series(['BMW','Audi','Mercedes'])

0         BMW
1        Audi
2    Mercedes
dtype: object

In [16]:
s =pd.Series(['BMW','Audi','Mercedes'], index = ['first','second','third'])

In [17]:
s

first          BMW
second        Audi
third     Mercedes
dtype: object

In [18]:
s.index

Index(['first', 'second', 'third'], dtype='object')

In [19]:
s.values

array(['BMW', 'Audi', 'Mercedes'], dtype=object)

## Create pandas series using dictionary

In [20]:
d= {
    'a': 40,
    'b': 50,
    'c': 60,
}

In [21]:
pd.Series(d)

a    40
b    50
c    60
dtype: int64

## Accessing data from pandas series with position index

In [23]:
s =pd.Series(['BMW','Audi','Mercedes'], index = ['first','second','third'])

In [24]:
s

first          BMW
second        Audi
third     Mercedes
dtype: object

In [25]:
s[0]

'BMW'

In [26]:
s[1]

'Audi'

In [27]:
s[1:]

second        Audi
third     Mercedes
dtype: object

In [28]:
s[:2].values

array(['BMW', 'Audi'], dtype=object)

In [29]:
s['first']

'BMW'

In [30]:
s['third']

'Mercedes'

## Giving name to series

In [31]:
s =pd.Series(['BMW','Audi','Mercedes'], index = ['first','second','third'], name = 'Cars')

In [32]:
s

first          BMW
second        Audi
third     Mercedes
Name: Cars, dtype: object

# Dataframe : Two or more dimensional data structure

In [33]:
import pandas as pd

In [34]:
data = [1,1,2,3,5,8,13]

In [35]:
df = pd.DataFrame(data)

In [36]:
df

    0
0   1
1   1
2   2
3   3
4   5
5   8
6  13

In [37]:
type(data)

list

In [40]:
df = pd.DataFrame(data, columns = ['fibo'])

In [42]:
df['fibo']

0     1
1     1
2     2
3     3
4     5
5     8
6    13
Name: fibo, dtype: int64

In [43]:
type(df['fibo'])

pandas.core.series.Series

## Creating dataframe using list of list

In [44]:
data = [['ram',10],['syam',11],['gita',22]]

In [45]:
df = pd.DataFrame(data)

In [46]:
df

      0   1
0   ram  10
1  syam  11
2  gita  22

In [47]:
df = pd.DataFrame(data, columns = ['Name','No. of Chocolates'])

In [48]:
df

   Name  No. of Chocolates
0   ram                 10
1  syam                 11
2  gita                 22

In [49]:
df['Name']

0     ram
1    syam
2    gita
Name: Name, dtype: object

In [52]:
type(df['No. of Chocolates'])

pandas.core.series.Series

In [53]:
s = df['Name'].values.tolist()

In [54]:
s

['ram', 'syam', 'gita']

In [55]:
df.values

array([['ram', 10],
       ['syam', 11],
       ['gita', 22]], dtype=object)

In [56]:
df['Name']

0     ram
1    syam
2    gita
Name: Name, dtype: object

In [57]:
df.Name

0     ram
1    syam
2    gita
Name: Name, dtype: object

In [59]:
df.No of Chocolates # cannot access columns with spaces

SyntaxError: ignored

## Creating DataFrame using Python Dictionary

In [62]:
student = {
    "name" :['Anish','Bob','Cate','Devin','Erling','Francis','Gunn','Harry','Irving','Janet',"Kylie",'Laura'],
    "gender": ['M','M','F','M','M','M','M','M','M','F','F','F']
}

In [65]:
df = pd.DataFrame(student)

In [66]:
df['gender']

0     M
1     M
2     F
3     M
4     M
5     M
6     M
7     M
8     M
9     F
10    F
11    F
Name: gender, dtype: object

In [68]:
df['gender']= df['gender'].str.lower()

In [69]:
df

       name gender
0     Anish      m
1       Bob      m
2      Cate      f
3     Devin      m
4    Erling      m
5   Francis      m
6      Gunn      m
7     Harry      m
8    Irving      m
9     Janet      f
10    Kylie      f
11    Laura      f

In [78]:
df['Age'] = list(range(10,22))

In [72]:
df

       name gender  Age
0     Anish      m    10
1       Bob      m    11
2      Cate      f    12
3     Devin      m    13
4    Erling      m    14
5   Francis      m    15
6      Gunn      m    16
7     Harry      m    17
8    Irving      m    18
9     Janet      f    19
10    Kylie      f    20
11    Laura      f    21

## Deleting column in DataFrame
* pop()
* del

In [73]:
df.head()

     name gender  Age
0   Anish      m    10
1     Bob      m    11
2    Cate      f    12
3   Devin      m    13
4  Erling      m    14

In [79]:
df.pop('Age')

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
11    21
Name: Age, dtype: int64

In [81]:
friends = [['Biplab', 21],['Manjil',21]]

In [88]:
df = pd.DataFrame(friends, columns =['Friend_name','Age'])

In [89]:
df

  Friend_name  Age
0      Biplab   21
1      Manjil   21

## Creating pandas DataFrame usign pandas series

In [99]:
d = {
    'one' : pd.Series([1,2,3], index = ['a','b','c']),
    'two': pd.Series([4,5,6,7], index = ['a','b','c','d'])
}

In [102]:
df = pd.DataFrame(d)## Checking missing data
df

   one  two
a  1.0    4
b  2.0    5
c  3.0    6
d  NaN    7

## Checking missing data

In [103]:
df.isnull()

     one    two
a  False  False
b  False  False
c  False  False
d   True  False

In [104]:
df.isnull().sum()

one    1
two    0
dtype: int64

## Creating CSV using dataframe

In [105]:
data = {'Rank':[1, 2, 3, 4, 5],
       'Language': ['Python', 'Java',
                   'Javascript',
                   'C#', 'PHP'],
       'Share':[29.88, 19.05, 8.17,
               7.3, 6.15],
       'Trend':[4.1, -1.8, 0.1, -0.1, -1.0]}

In [106]:
df = pd.DataFrame(data)

In [107]:
df

   Rank    Language  Share  Trend
0     1      Python  29.88    4.1
1     2        Java  19.05   -1.8
2     3  Javascript   8.17    0.1
3     4          C#   7.30   -0.1
4     5         PHP   6.15   -1.0

In [108]:
df.to_csv('random_data.csv', index = False)

##Readinf CSV files using pandas

In [109]:
filepath = '/content/random_data.csv'

In [112]:
lang = pd.read_csv(filepath)

In [113]:
lang

   Rank    Language  Share  Trend
0     1      Python  29.88    4.1
1     2        Java  19.05   -1.8
2     3  Javascript   8.17    0.1
3     4          C#   7.30   -0.1
4     5         PHP   6.15   -1.0

In [114]:
lang.head(2)

   Rank Language  Share  Trend
0     1   Python  29.88    4.1
1     2     Java  19.05   -1.8

In [116]:
lang.tail(2)

   Rank Language  Share  Trend
3     4       C#   7.30   -0.1
4     5      PHP   6.15   -1.0

In [117]:
lang.columns

Index(['Rank', 'Language', 'Share', 'Trend'], dtype='object')

In [118]:
lang.columns[1:]

Index(['Language', 'Share', 'Trend'], dtype='object')

In [119]:
usecols = ['Language','Share','Trend']
lang = pd.read_csv(filepath, usecols = usecols)

In [120]:
lang

     Language  Share  Trend
0      Python  29.88    4.1
1        Java  19.05   -1.8
2  Javascript   8.17    0.1
3          C#   7.30   -0.1
4         PHP   6.15   -1.0

# Creating table in markdown



|Name| Roll_no |
|---|---|
|Rukesh|21|